Skip to content



body {
    font-family: sans-serif;
    margin: 20px;
    display: flex;
    background-color: rgb(51, 141, 141);
}

.container {
    display: flex;
    border: 20px;
    margin: 100px;
    border-color: aqua;
    padding: 20px;
}

table {
width: 100px;
border: 10px;
}
th,tr {
    justify-content: center;
    align-content: baseline;
    border: 2px;
}

@media screen (max-width:765px) {
    padding: 10px;
       height: 400px;
 
}